@charset "utf-8";
@import "mixin";

.chapter-content {
  line-height: 31px;
  padding: 15px;
  color: #555;
  font-size: 14px;
  h4 {
    font-size: 20px;
    color: #736357;
    border-bottom: 1px solid #736357;
    letter-spacing: 2px;
    margin-bottom: 1em;
  }
  p {
    text-indent: 2em;
    margin: 0.5em 0;
    letter-spacing: 0;
    line-height: 24px;
  }
}
.m-btn {
  width: 70%;
  max-height: 800px;
  padding: 5px;
  margin: 0 auto;
  .m-btn-tab {
    height: 34px;
    line-height: 34px;
    margin: 10px auto;
    border-radius: 8px;
    border: 1px solid #858382;
    font-size: 12px;
    background: #000;
    opacity: 0.9;
    .m-btn-comm {
      display: inline-block;
      width: 49%;
      border-right: 1px solid #858382;
      text-align: center;
      color: #fff;
      &:last-child {
        border-right: none;
      }
    }
  }
}
.top-nav {
  position: fixed;
  top: 0px;
  z-index: 9999;
  height: 50px;
  width: 100%;
  background: #000;
  .icon-back {
    position: absolute;
    top: 14px;
    left: 10px;
    width: 23px;
    height: 23px;
    @include icon-base64($icon-back);
    background-size: contain;
  }
  .nav-title {
    position: absolute;
    top: 16px;
    left: 42px;
    color: #d5d5d6;
  }
}